/* IMPORTS BOOTSTRAP */
@import url('bootstrap');
@import url('bootstrap-icons');


/* GENERICS */
img {
    width: 100%;
}

ul {
    list-style: none;
    padding: 0px;
}

body {
    background-color: black;
}
/* UTILITY */

/*--------HEADER--------*/

header {
    background-color: #1e1f21;
    
    
}

/* NavBar */
header nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    
}

.navbar-brand > img {
    height: 70px;
}

.navbar-brand > img:last-child {
    display: none;
}


/* Form */

nav form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px
}



/*--------MAIN--------*/

/* App Banner*/
.welcome-banner{
    color: white;
    height: calc(100vh - 187px);
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    text-align: center;
}


/* Movie Cards */

.movie-card {
    max-height: 459px;
}

.movies-cover{
    max-height: 100%;
    object-fit: contain;
    object-position: center;
    z-index: -1;
}

.movie-info {
    text-align: left;
}
/*--------MEDIA QUERY--------*/


/* HEADER */

@media screen and (min-width: 768px)  {
    

    header nav {
        flex-direction: row;
        justify-content: space-between;
    }
    
    /* Navabar */
    .navbar-brand > img:first-child{
        display: none;
    }
    
    .navbar-brand > img:last-child {
        display: inline-block;
        height: 100px;
    }

    /* Form */
    nav form {
        flex-direction: row;
        gap: 15px;
    }
}